.project-card {
  text-decoration: none;
}

.project-card-top  {
  overflow: hidden;
}

.project-card :global(.card-img-top) {
  background: var(--bs-light-bg-subtle);
  min-height: 176px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 300ms cubic-bezier(0.33, 1, 0.68, 1);
}

.project-card:hover :global(.card-img-top) {
  transform: translateY(-40px);
}

/* Card Body */

.project-card :global(.card-body) {
  transition: transform 300ms cubic-bezier(0.33, 1, 0.68, 1);
}

.project-card:hover :global(.card-body) {
  transform: translateY(-40px);
}

/* Card Text */

.project-card :global(.card-text) {
  color: var(--bs-body-color);
  position: relative;
  display: inline;
}

.project-card:hover :global(.card-text) {
  color: var(--bs-heading-color);
  background-repeat: no-repeat;
  background-size: 100% 90%;
  background-position: 0 90%;
}

.project-card-cta :global(.btn) {
  color: var(--bs-emphasis-color);
  transition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-property: color;
}

.project-card-cta :global(.btn:hover) {
  color: var(--bs-emphasis-color);
}

.project-card-cta :global(.btn .icon) {
  opacity: 1;
  position: absolute;
  left: 100%;
  top: calc(50% - 8px);
}

.project-card-cta :global(.btn:hover .icon) {
  opacity: 0;
}

.project-card-cta :global(.btn .icon-hover) {
  opacity: 0;
  position: absolute;
  left: 100%;
  top: calc(50% - 8px);
}

.project-card-cta :global(.btn:hover .icon-hover) {
  opacity: 1;
}

/* Card Variation Styles */

.project-card-0 :global(.card-img-top) {
  background: #E3F5E1;
}

.project-card-0 :global(.badge) {
  border: 1px solid #21C834;
}

.project-card-0:hover :global(.card-text) {
  /* background: linear-gradient(to top, #E3F5E1 45%, transparent 45%); */
  /* text-decoration: underline;
  text-decoration-color: #b7f5bd; */
}

/* .project-card-0 .project-card-cta :global(.btn span):before {
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 1px;
  z-index: -1;
  transition: 300ms cubic-bezier(0.33,1,0.68,1);
  transition-property: height, background-color;
  will-change: height, background-color;
  background-color: #b7f5bd;
}

.project-card-0:hover .project-card-cta :global(.btn span):before {
  height: 8px;
} */

.project-card-0 .project-card-cta :global(.btn span):before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: #E3F5E1;
  z-index: -1;
  transition: transform .3s ease;
  transform: scaleX(0);
  transform-origin: bottom right;
}

.project-card-0 .project-card-cta :global(.btn:hover span):before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.project-card-0 .project-card-cta :global(.btn):hover {
  /* color: var(--bs-primary); */
}

.project-card-1 :global(.card-img-top) {
  background: #FBDCFF;
}

.project-card-1 :global(.badge) {
  border: 1px solid #BE32D0;
}

.project-card-1:hover :global(.card-text) {
  /* background: linear-gradient(to top, #FBDCFF 45%, transparent 45%); */
  /* text-decoration: underline;
  text-decoration-color: #f4b2ff; */
}

.project-card-1 .project-card-cta :global(.btn span):before {
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 1px;
  z-index: -1;
  transition: 300ms cubic-bezier(0.33,1,0.68,1);
  transition-property: height, background-color;
  /* will-change: height, background-color; */
  background-color: #f4b2ff;
}

.project-card-1:hover .project-card-cta :global(.btn span):before {
  height: 8px;
}

.project-card-2 :global(.card-img-top) {
  background: #D4E5FF;
}

.project-card-2 :global(.badge) {
  border: 1px solid #0050D8;
}

.project-card-2:hover :global(.card-text) {
  background: linear-gradient(to top, #D4E5FF 45%, transparent 45%);
  /* text-decoration: underline;
  text-decoration-color: #adcdff; */
}

.project-card-cta {
  opacity: 0;
  transition: 300ms cubic-bezier(0.33,1,0.68,1);
  transition-property: transform, opacity;
  /* will-change: transform, opacity; */
}

.project-card:hover .project-card-cta {
  opacity: 1;
}
