.project-card {
  text-decoration: none;
}

.project-card .project-card-top  {
  background: var(--bs-light-bg-subtle);
}

.project-card-0 .project-card-top {
  background: #E3F5E1;
}

.project-card-1 .project-card-top {
  background: #FBDCFF;
}

.project-card-2 .project-card-top {
  background: #D4E5FF;
}

.project-card :global(.card-text) {
  color: #5C5C5C;
}
