.project-card {
  text-decoration: none;
}

.project-card-top  {
  overflow: hidden;
}

.project-card :global(.card-img-top) {
  background: var(--bs-light-bg-subtle);
  min-height: 176px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 300ms cubic-bezier(0.33, 1, 0.68, 1);
}

.project-card:hover :global(.card-img-top) {
  transform: translateY(-40px);
}

/* Card Body */

.project-card :global(.card-body) {
  transition: transform 300ms cubic-bezier(0.33, 1, 0.68, 1);
}

.project-card:hover :global(.card-body) {
  transform: translateY(-40px);
}

/* Card Text */

.project-card :global(.card-text) {
  color: var(--bs-body-color);
  position: relative;
  display: inline;
}

.project-card:hover :global(.card-text) {
  color: var(--bs-heading-color);
  background-repeat: no-repeat;
  background-size: 100% 90%;
  background-position: 0 90%;
}

/* Card Variation Styles */

.project-card-0 :global(.card-img-top) {
  background: #E3F5E1;
}

.project-card-0:hover :global(.card-text) {
  background: linear-gradient(to top, #E3F5E1 45%, transparent 45%);
}

.project-card-1 :global(.card-img-top) {
  background: #FBDCFF;
}

.project-card-1:hover :global(.card-text) {
  background: linear-gradient(to top, #FBDCFF 45%, transparent 45%);
}

.project-card-2 :global(.card-img-top) {
  background: #D4E5FF;
}

.project-card-2:hover :global(.card-text) {
  background: linear-gradient(to top, #D4E5FF 45%, transparent 45%);
}
